<div class="center-wrapper">
  <form class="form-shadow">
    <div class="alert alert-danger" role="alert" *ngIf="errors.length">
      <p class="m-0 p-0" *ngFor="let error of errors">
        {{ error }}
      </p>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      <p class="m-0 p-0">{{ errorMessage }}</p>
    </div>
    <h4 class="text-danger text-center mb-4">Recover your password</h4>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email : </label>
      <input type="email" class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             [(ngModel)]="emailRequest.email"
             name="email_inp"
      >
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between">
      <button class="btn btn-primary" type="submit" (click)="checkEmail()">Recover
      </button>
    </div>
  </form>
</div>
