<div class="center-wrapper">
  <form class="form-shadow">
    <div class="alert alert-danger" role="alert" *ngIf="errors?.length">
      <p class="m-0 p-0" *ngFor="let error of errors">
        {{ error }}
      </p>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message">
      <p class="m-0 p-0">
        {{ message }}
      </p>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             [(ngModel)]="request.email"
             name="email_inp"
      >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control"
             id="exampleInputPassword1"
             [(ngModel)]="request.password"
             name="email_pswd">
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-between">
      <button class="btn btn-primary" (click)="login()"
              type="submit">Login
      </button>
      <button class="btn btn-link">Don't have an account, register</button>
    </div>
  </form>
</div>
